{% extends 'base.html' %}

{% block head %}
<title>Arko Annuk - Fitness</title>
{% endblock %}

{% block body %}

<h1>Chasing the High</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
<br>Bibendum metus nec purus semper, pulvinar tempus diam convallis. 
<br>Maecenas rutrum, nisl nec cursus volutpat, tellus felis <b>dapibus</b> sapien, id convallis turpis risus gravida neque. 
<br>Proin elementum quis purus vitae ullamcorper. Fusce sit amet eleifend orci. 
<br>Integer mi orci, consectetur interdum dui pretium, molestie ultricies tellus. Duis bibendum nisl velit, ac maximus urna suscipit in. 
</p>

{% endblock %}