{% extends 'base.html' %}

{% block head %}
<title>Arko Annuk - Rentals</title>
{% endblock %}

{% block body %}

{% filter markdown %}
# Book your stay direclty

By submitting this form, all the details go straight to my inbox. Expect **confirmation within 24 hours**.

{% endfilter %}

<form action='/rentals' method='POST'>
<div id="form">
<h3>Reservation Form</h3>
<div class="elem-group">
    Name: <input type = 'text' name = 'name'>
</div>
<div class="elem-group">
    Email: <input type = 'text' name = 'email'>
</div>
<div class="elem-group">
    Phone: <input type = 'tel' name = 'phone'>
</div>
<hr>
<div class="elem-group inlined">
    Adults: <input type = 'number' name ='adults'>
</div>
<div class="elem-group inlined">
    Children: <input type = 'number' name ='children'>
</div>
<div class="elem-group inlined">
    Check-In: <input type = 'date' name ='checkin'>
</div>
<div class="elem-group inlined">
    Check-Out: <input type = 'date' name ='checkout'>
</div>
<div class="elem-group">
    Select Room: <select name ='room'>
        <option value="">Choose Property from the List</option>
        <option value="studio">Studio</option>
        <option value="flat">Flat</option>
    </select>
</div>
<hr>
<div class="elem-group">
    Extra Info: <textarea name ='extrainfo' placeholder="Tell us anything else that might be important" ></textarea>
</div>
<button type="submit">Book The Room</button>
</form>


{% endblock %}
